/* MOBILE SLIDE-IN */
@media (max-width: 768px) {
    .premium-sider {
        position: fixed !important;
        height: 100vh !important;
        z-index: 999 !important;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .dashboard-header {
        justify-content: space-between;
        background: #e9e9e9;
        padding: 10px 12px;
    }

    .premium-sider.collapsed {
        transform: translateX(-100%);
    }

    .premium-sider:not(.collapsed) {
        transform: translateX(0%);
        z-index: 9999 !important;
    }

    /* Dark overlay when sidebar open */
    .sidebar-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 998;
    }

    .mobile-menu-btn {
        margin-right: 0px !important;
    }

    .radio-group {
        display: grid !important;
    }

    .header-title {
        font-size: 17px !important;
        line-height: 20px !important;
    }

    .categories-container {
        border-radius: 12px !important;
        padding: 10px !important;
        margin: 10px 10px !important;
    }

    .categories-header h2 {
        font-size: 20px !important;
    }

    .categories-tabs {
        padding: 0px 10px !important;
        height: 460px !important;
    }

    .category-item {
        padding: 8px 10px !important;
    }

    .category-icon {
        width: 35px !important;
        height: 35px !important;
    }

    .stat-card {
        padding: 14px !important;
    }

    .stat-header h4 {
        margin: 7px 0px !important;
    }

    .stat-card h2 {
        font-size: 22px !important;
    }

    .quick-access-card {
        padding: 14px 14px !important;
    }

    .chart-card {
        padding: 14px !important;
    }

    .transactions-card {
        padding: 14px !important;
        overflow: scroll;
        margin-top: 20px !important;
    }

    .transactions-header h3 {
        margin: 10px 10px;
    }

    .chart-wrapper {
        width: 94% !important;
    }

    .filters-premium-container {
        display: grid !important;
        justify-content: center !important;
    }

    .filter-tab {
        padding: 6px 12px !important;
    }

    .expense-modal {
        height: 93vh !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        padding: 12px 15px !important;
    }

    .expense-container {
        padding: 15px !important;
    }

    .expense-header {
        align-items: center !important;
    }

    .expense-header h1 {
        margin: 0px !important;
    }

    .tabs-wrapper {
        margin-bottom: 22px !important;
        margin-top: 20px !important;
    }

    .filter-dropdown {
        display: grid !important;
        gap: 20px !important;
        justify-items: center !important;
        text-align: center !important;
    }

    .clear-btn {
        margin-top: 0px !important;
    }

    .expense-table-wrapper {
        -webkit-overflow-scrolling: touch !important;
        scrollbar-width: thin !important;
    }

    .expense-row {
        padding: 14px !important;
    }

    .invoice-modal {
        width: 92% !important;
        height: 600px !important;
        place-content: center !important;
    }

    .approvals-table-wrapper {
        overflow: auto;
    }

    .category-pill {
        font-size: 11px !important;
    }

    .expense-actions {
        gap: 0px !important;
    }

    .simple-stat-pill {
        margin-left: 0px !important;
    }

    .expense-header {
        display: grid !important;
        justify-content: center !important;
        gap: 10px !important;
    }

    .details-text {
        padding: 7px !important;
    }

    .invoice-modal img {
        height: 386px !important;
        width: auto !important;
    }

    .approvals-title {
        font-size: 28px !important;
    }

    .icon-btn {
        height: 35px !important;
        padding: 8px !important;
    }

    .header-right {
        gap: 6px !important;
    }

    .color-circle {
        width: 25px !important;
        height: 25px !important;
    }

    .selected-icon {
        border: 1px solid #d4af37 !important;
        transform: scale(1.01) !important;
    }

    .icon-grid {
        gap: 8px !important;
        height: 200px !important;
    }

    .create-btn {
        font-weight: 400 !important;
    }

    .category-input {
        padding: 8px 14px !important;
        font-size: 14px !important;
    }

    .fc .fc-toolbar {
        display: grid !important;
        gap: 15px !important;
        justify-content: center !important;
    }

    .wallet-table .ant-table {
        overflow: scroll !important;
    }

    .transactions-table {
        width: 150% !important;
        overflow: scroll !important;
    }
}